@charset "UTF-8";

div{
    display: inline-block;
    background-color: #5640B8;
    color: #1A1438;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid lightslategray;

}

body{
    background-color: #4A379E;
}

div:hover{
    background-color: #5C45C4;
}