@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right,#8b857e, #48433d);
}

main{
    background-color: white;
    color: black;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow:5px 5px 10px gray;
}

h1{
    color:#7a756e ;
    text-align: center;
    text-shadow: 1px 1px 20px#48433d;
}

h2{
    color: #59544d;
}

p{
    text-align: justify;
}